@import '../../bower_components/swiper/dist/css/swiper.min.css'
@import '../../bower_components/normalize.css/normalize.css'

.clearfix:after 
    visibility: hidden
    display: block
    font-size: 0
    content: " "
    clear: both
    height: 0

.clearfix   
    display:inline-table
    height:1%
    display:block

#loading 
    background:url("/static/image/299.gif") no-repeat
    background-color:rgba(0,0,0,0.8)
    background-position:center
    background-size:auto
    position:absolute
    width:100%
    height:100%
    z-index:100000

@-webkit-keyframes pic
    0%
        -webkit-transform:rotate(5deg)
    33%
        -webkit-transform:rotate(0deg)
    66%
        -webkit-transform:rotate(5deg)
    100%
        -webkit-transform:rotate(0deg)
@-webkit-keyframes cloud
    0%
        -webkit-transform:translateX(-1rem)
    100%
        -webkit-transform:translateX(0)
@-webkit-keyframes fly
    0%
        -webkit-transform:translateX(1rem)
    100%
        -webkit-transform:translateX(0)
@-webkit-keyframes pointer
    0%,100%
        opacity:0
    50%
        opacity:1
@-webkit-keyframes up-animation 
    0%,100% 
        -webkit-transform:scale(1)
        opacity:.9
    
    1%,99% 
        -webkit-transform:translateY(0)
    
    49% 
        -webkit-transform:translateY(-15px)
    
    50% 
        opacity:0
        -webkit-transform:scale(0.2)
    
animation(time,name,delay) 
    -webkit-animation-duration:time
    -webkit-animation-name:name
    -webkit-backface-visibility: hidden
    -webkit-animation-timing-function: ease
    -webkit-animation-fill-mode: both
    -webkit-animation-delay:delay
* 
    -webkit-user-select: none
    -ms-user-select: none
    -moz-user-select: none
    -khtml-user-select: none
    user-select: none
    -webkit-touch-callout:none
    -webkit-tap-highlight-color:transparent

background(image) 
    height:100%
    width:100%
    position:relative
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:bottom center
    background-size:100% 100%
    z-index:1

image-wauto(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:100% auto

image-hauto(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:auto 100%

image-fit(image) 
    background-image:url('/static/image/'+image)
    background-repeat:no-repeat
    background-position:top center
    background-size:100% 100%

.up 
    -webkit-animation-name:up-animation
    -webkit-animation-duration: 1.5s!important
    -webkit-animation-timing-function: ease
    -webkit-animation-iteration-count:infinite
    -webkit-animation-fill-mode:both
    image-wauto('up.png')
    height:0.1rem
    width:0.08rem
    position:absolute
    bottom:0
    left:0.14rem
    z-index:5

body 
    height:100%
    position:absolute
    font-size: 14px
    color: #333 
    font-family: '微软雅黑'
    background-color: #fff
    letter-spacing: 1px
    margin:0 auto
    box-shadow: 0 0 160px 0 #5C99E7
    -webkit-user-select: none
    background-size:cover
    width:1rem
    box-sizing:border-box
    -webkit-transition:all .5s
    .swiper-container 
        width:100%
        height:100vh
        display:none
    .start
        background('start.jpg')
        position:absolute
        width:100%
        height:100%
        .start-btn
            width:0.33rem
            height:0.33rem
            position:absolute
            top:50%
            margin-top:-0.165rem
            left:50%
            margin-left:-0.165rem
    .gif
        display:none
        position:absolute
        width:100%
        height:100%
    .start1
        background('1.jpg')
    .start2
        background('2.jpg')
    .start3
        background('3.jpg')
    .start4
        background('4.jpg')
    .start5
        background('5.jpg')
    .start6
        background('6.jpg')
    .start7
        background('7.jpg')
    .start8
        background('8.jpg')
    .page1 
        .background 
            background('background1.jpg')
            .logo
                width:0.15rem
                height:0.25rem
                position:absolute
                right:0.1rem
                bottom:0rem
                image-wauto('logo.png')
    .page2 
        .background 
            background('background2.jpg')
    .page3 
        .background 
            background('background3.jpg')
            .logo
                width:0.15rem
                height:0.25rem
                position:absolute
                right:0.1rem
                top:0.1rem
                image-wauto('logo.png')
            .fly
                width:0.27rem
                height:0.25rem
                position:absolute
                left:0.06rem
                top:21%
                image-wauto('fly.png')
                animation(3s,'fly',0s)
                display:none
    .page4 
        .background 
            background('background4.jpg')
            .cloud
                width:0.2rem
                height:0.15rem
                position:absolute
                image-wauto('cloud.png')
                top:0.1rem
                right:0.15rem
                animation(5s,'cloud',0s)
                display:none
            .pic
                width:90%
                image-wauto('pic.png')
                height:0.55rem
                margin:0 auto
                bottom:0
                position:absolute
                left:0
                background-position:bottom center
                animation(0.5s,'pic',0s)
                display:none
    .page5 
        .background 
            background('background5.jpg')
            .first
                width:0.6rem
                position:absolute
                top:50%
                height:0.25rem
                left:50%
                margin-left:-.3rem
                margin-top:-0.425rem
                image-wauto('first.png')
            .second
                width:0.6rem
                position:absolute
                top:50%
                height:0.25rem
                left:50%
                margin-left:-.3rem
                margin-top:-0.125rem
                image-wauto('second.png')
            .third
                width:0.6rem
                position:absolute
                top:50%
                height:0.25rem
                left:50%
                margin-left:-.3rem
                image-wauto('third.png')
                margin-top:0.165rem
        .first-image
            background('first-image.jpg')
            .clock
                width:0.2rem
                height:0.2rem
                position:absolute
                bottom:0.2rem
                right:0.1rem
                image-wauto('clock.gif')
        .second-image
            background('second-image.jpg')
            .clock
                width:0.2rem
                height:0.2rem
                position:absolute
                bottom:0.2rem
                right:0.1rem
                image-wauto('clock.gif')
        .third-image
            background('third-image.jpg')
            .clock
                width:0.2rem
                height:0.2rem
                position:absolute
                bottom:0.2rem
                right:0.1rem
                image-wauto('clock.gif')
    .page6 
        .background 
            background('background6.jpg')
    .page7 
        .background 
            background('background7.jpg')
            .car1
                position:absolute
                width:65%
                height:25%
                top:29%
                right:8%
                transform:rotate(-7deg)
            .car2
                position:absolute
                width:55%
                height:21%
                top:54%
                right:40%
                transform:rotate(4deg)
            .car3
                position:absolute
                width:58%
                height:23%
                top:71%
                right:6%
                transform:rotate(-5deg)
            .full-image
                height:100%
                width:100%
                background-color:#000
                position:absolute
                top:0
                z-index:1000
                display:none
                .swiper-wrapper
                    height:0.7rem
                    position:absolute
                    margin-top:-.35rem
                    top:50%
                    .image-auto
                        width:100%
                        display:inline-block
                        background-size:100% auto
                        background-repeat:no-repeat
                        background-position:center center


    .page8 
        .background 
            background('background5.jpg')
            display:-webkit-flex
            .image
                flex:4
                margin:0.01rem
                height:0.3rem
                position:relative
                background-size:cover
                background-position:center center
                background-repeat:no-repeat
                .pointer
                    position:absolute
                    right:0rem
                    bottom:-.03rem
                    width:0.04rem
                    height:0.06rem
                    image-wauto('pointer.png')
                    animation(1.5s,'pointer',0s)
                    -webkit-animation-iteration-count:infinite
            .full-image
                height:100%
                width:100%
                background-color:#000
                position:absolute
                top:0
                z-index:1000
                display:none
                .swiper-wrapper
                    height:0.7rem
                    position:absolute
                    margin-top:-.35rem
                    top:50%
                    .image-auto
                        width:100%
                        display:inline-block
                        background-size:100% auto
                        background-repeat:no-repeat
                        background-position:center center

